<!-- This is the file in which you set debug logging mode (assuming it is in the classpath). Otherwise set it in logback.xml -->
<configuration debug="true">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{ISO8601} %-5level %logger{36} %X{akkaSource} - %msg%n</pattern>
            <!--     <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} %X{sourceThread} - %msg%n</pattern>  -->
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>